/*-----COLORS-----
background: #A5DDDA;

----TYPO----
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Abril Fatface', cursive;
------------------*/

/*-----TYPO-----*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat|Oswald');

/*----GENERAL----*/

html {
	box-sizing: border-box;
	background: #A5DDDA;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.content-wrap {
    max-width: 624px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

form {
	max-width: 900px;
	margin: 27px auto;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

footer {
	text-align: center;
}

/*-----TYPO----*/

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25rem;
}

header h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 15px;
}

header p {
	font-size: 1.25rem;
}

footer h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 4rem;
	margin: 0;
}
footer h4 {
	margin: 0;
}

footer p {
	font-size: 1.25rem;
}

footer h3 {
	font-size: 1.25rem;
}


/*-----BACKGROUND IMAGES----*/

#header {
	background: url("img/banner.jpg") right;
	background-size: cover; 
}

#header hr {
	border: 2px solid #DC023F;
}

#footer {
	background: url("img/sellfie.jpg") center;
	background-size: cover;
	color: white;
}

/*-----FORM-----*/

form hr {
	border: 1px solid #A5DDDA;
	margin: 40px 0;
}
