/*-----COLORS-----
background: #A5DDDA;

----TYPO----
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Abril Fatface', cursive;
------------------*/

/*-----TYPO-----*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat|Oswald');

/*----GENERAL----*/

html {
	box-sizing: border-box;
	background: #A5DDDA;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #0C2043;
}

.content-wrap {
    max-width: 624px;
    margin: 0 auto;
    padding: 30px 50px;
    overflow: auto;
}

#white-box {
	max-width: 900px;
	margin: 27px auto;
	background: #FFFFFF;
	overflow: auto;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

footer {
	text-align: center;
}

/*-----TYPO----*/

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25rem;
	margin-top: 30px;
	margin-bottom: 18px;
}

header h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5rem;
	margin-bottom: 15px;
}

header p {
	font-size: 1.25rem;
}

footer h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 4rem;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
}
footer h4 {
	margin: 0;
}

footer p {
	font-size: 1.25rem;
}

footer h3 {
	font-size: 1.25rem;
}


/*-----BACKGROUND IMAGES----*/

#header {
	background: url("img/banner.jpg") right;
	background-size: cover; 
}

#header hr {
	border: 2px solid #DC023F;
}

#footer {
	background: url("img/sellfie.jpg") top;
	background-size: cover;
	color: white;
}

/*-----FORM-----*/

form hr {
	border: 1px solid #fff;
	margin: 20px 0;
}

form textarea {
	padding: 15px;
	border: 1px solid rgba(165, 221, 218, .5);
	box-shadow: 0px 0px 15px rgba(165, 221, 218, .6);
	background-color: rgba(165, 221, 218, .4);
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

form textarea:focus {
	background-color: #fff;
}

form select, #name, #number, #how-much {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	width: 100%;
	border: none;
	border-bottom:  2px solid #0C2043;
	font-size: 1rem;
}

form select::-ms-expand {
	display: none;
}
.closer h4 {
	margin-bottom: 10px;
}

form input:checked + label {
	color: #DC023F;
}

form #question {
	display: flex;
	justify-content: space-between;
}

form .option {
	display: flex;
	justify-content: flex-start;
}

.space {
	padding-right: 70px;
}



form button {
	background: #0C2043;
	padding: 10px;
	border-style: none;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 1rem;
	width: 100px;
	color: #fff;
	margin: 25px 0 5px 0;
}

#submit-div {
	text-align: center;
}

/*----Footer action----*/

footer #email {
	background: #C4C4C4;
	padding: 10px 10px 10px 15px;
	border-style: none;
	border-radius: 10px 0 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 1rem;
	width: 79%;

}

footer button {
	background: #0C2043;
	padding: 10px;
	border-style: none;
	border-radius: 0px 10px 10px 0px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 1rem;
	color: #fff;
	margin-left: -10px;
	width: 20%;
}



/*-----MEDIA QUERIES----*/

@media (min-height: 680px) { 

	form button {
		width: 35%;
	}

	footer #email {
		width: 100%;
		border-radius: 10px;
	}

	footer button {
		border-radius: 10px;
		width:35%;
		margin-top: 10px;
	}
	
	.content-wrap {
    max-width: 624px;
    margin: 0 auto;
    padding: 30px 20px;
    overflow: auto;
}

}